@using ShopQuanAo.Models
@model IEnumerable<GetProductDetailResult>

@{
    ViewBag.Title = "DoryShop|Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var product_detail = Model.First();
    var Catalogs = (List<GetCataLogByIdResult>)ViewBag.Catalogs;
    var bestsaleProduct = ViewBag.bestsaleProduct as List<GetListProductBySortResult>;
    Catalogs.Reverse();
}

<!-- end breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <ul>
                <li class="home"> <a href="/" title="Go to Home Page">Trang chủ</a><span>&raquo;</span></li>
                @foreach (var catalog in Catalogs)
                {
                    <li class=""> <a href="/san-pham/@catalog.route">@catalog.name</a><span>&raquo;</span></li>
                }
                @*@ViewBag.Count*@
                <li class="category13"><strong> @product_detail.name </strong></li>
            </ul>
        </div>
    </div>
</div>
<!-- end breadcrumbs -->
<!-- main-container -->
<section class="main-container col1-layout">
    <div class="main container">
        <div class="col-main">
            <div class="row">
                <div class="product-view">
                    <div class="product-essential">
                        <form action="#" method="post" id="product_addtocart_form">
                            <input name="form_key" value="6UbXroakyQlbfQzK" type="hidden">
                            <div class="product-img-box col-sm-4 col-xs-12">
                                @if ((DateTime.Now - product_detail.date_added).TotalDays <= 7)
                                {
                                    <div class="new-label new-top-left"> Mới </div>
                                }
                                <div class="product-image">
                                    @if (product_detail.discount_price < @product_detail.price)
                                    {
                                        var price_percent = Math.Round((product_detail.price - product_detail.discount_price) * 100 / product_detail.price);
                                        <div class="sale-label sale-top-right"><span>-@price_percent%</span></div>
                                    }
                                    <div class="large-image">
                                        <a href="~/products-images/@product_detail.product_code/@product_detail.image" class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20">
                                            <img alt="product-image" src="~/products-images/@product_detail.product_code/@product_detail.image">
                                        </a>
                                    </div>
                                    <div class="flexslider flexslider-thumb">
                                        <ul class="previews-list slides">
                                            <li><a href='/products-images/@product_detail.product_code/@product_detail.image' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '/products-images/@product_detail.product_code/@product_detail.image' "><img src="~/products-images/@product_detail.product_code/@product_detail.image" alt="Thumbnail 1" /></a></li>
                                            @if (Model.Count() > 1)
                                            {
                                                foreach (var image in Model)
                                                {
                                                    <li><a href='/products-images/@image.product_code/@image.images' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '/products-images/@image.product_code/@image.images' "><img src="/products-images/@image.product_code/@image.images" alt="Thumbnail 1" /></a></li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <!-- end: more-images -->
                                <div class="clear"></div>
                            </div>
                            <div class="product-shop col-sm-5 col-xs-12">
                                <div class="product-name">
                                    <h1>@product_detail.name</h1>
                                </div>
                                <div class="short-description">
                                    <p>
                                        @ShopQuanAo.App_Start.cutString.SubString(product_detail.description, 100)
                                    </p>
                                </div>
                                <div class="ratings">
                                    <div class="rating-box">
                                        <div style="width:@product_detail.rating%" class="rating"></div>
                                    </div>
                                    <p class="rating-links"> <a href="#customer-reviews">@product_detail.view đánh giá</a> <span class="separator">|</span> <a href="#customer-reviews">Đánh giá</a> </p>
                                </div>
                                @if (product_detail.quantity == 0)
                                {
                                    <p class="availability in-stock">Tình trạng: <span style="color: red;">Hết hàng</span></p>
                                }
                                else
                                {
                                    <p class="availability in-stock">Tình trạng: <span>Còn hàng</span></p>
                                }
                                <div class="price-block">
                                    <div class="price-box">
                                        @if (product_detail.discount_price < @product_detail.price)
                                        {
                                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" style="width: auto; right: auto;"> @String.Format("{0:n0}", @product_detail.price) VNĐ </span> </p>
                                            <p class="special-price" style="width: auto; float: none;"> <span class="price-label">Special Price</span> <span class="price"> @String.Format("{0:n0}", @product_detail.discount_price) VNĐ </span> </p>
                                        }
                                        else
                                        {
                                            <p class="special-price" style="float: none; width: auto;"> <span class="price-label">Special Price</span> <span class="price"> @String.Format("{0:n0}", @product_detail.price) VNĐ </span> </p>
                                        }
                                    </div>
                                </div>
                                <div class="add-to-box">
                                    <div class="add-to-cart">
                                        @if (product_detail.quantity == 0)
                                        {
                                            <input class="quantity" name="quantity" type="number" value="0" min="0" max="@product_detail.quantity" readonly />
                                        }
                                        else
                                        {
                                            <input class="quantity" name="quantity" type="number" value="1" min="1" max="@product_detail.quantity" required />
                                        }
                                    </div>
                                    @if (product_detail.quantity == 0)
                                    {
                                        <button type="button" title="Add to Cart" class="button btn-cart disabled" id="disable"><span>Thêm vào giỏ</span></button>
                                    }
                                    else
                                    {
                                        <button type="button" title="Add to Cart" class="button btn-cart" onclick="AddToCart('@product_detail.product_code')"><span>Thêm vào giỏ</span></button>
                                    }
                                </div>
                                <div class="email-addto-box">
                                    <p class="email-friend"><a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Email to a Friend"><span></span></a></p>
                                    <ul class="add-to-links">
                                        <li><span class="separator">|</span> <a class="link-compare" href="compare.html" data-toggle="tooltip" data-placement="top" data-original-title="Add to Compare"></a></li>
                                        <li> <a class="link-wishlist" href="wishlist.html" data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist"></a></li>
                                    </ul>
                                </div>
                                
                            </div>
                            <div class="product-img-box col-sm-3 col-xs-12">
                                <div class="product-additional"><span class="product-additional"><img alt="custom block" src="~/images/offer-banner5.png"></span></div>
                            </div>
                        </form>
                        <div class="toggle-content">
                            <div class="toggle toggle-white">
                                <h4 class="trigger"><a href="#">Thông tin chi tiết</a></h4>
                                <div style="display: none;" class="toggle_container tabcontent">
                                    <div class="std">
                                        @Html.Raw(@product_detail.description)
                                    </div>
                                </div>
                            </div>
                            <div class="toggle toggle-white">
                                <h4 class="trigger"><a href="#">Đánh giá</a></h4>
                                <div style="display: none;" class="toggle_container ">
                                    @Html.Raw(@product_detail.description)
                                </div>
                            </div>
                        </div>
                        <!-- related Product Slider -->
                        <div class="product-collateral">

                            <!-- related Product Slider -->
                            <section class="related-pro">
                                <div class="slider-items-products">
                                    <div class="new_title center">
                                        <h2>Giảm giá sốc</h2>
                                    </div>
                                    <div id="related-products-slider" class="product-flexslider hidden-buttons">
                                        <div class="slider-items slider-width-col4 products-grid">
                                            @foreach (var product in bestsaleProduct)
                                            {
                                            <!-- Item -->
                                                <div class="item">
                                                    <div class="col-item">
                                                        @if (@product.discount_price < @product.price)
                                                        {
                                                            var price_percent = Math.Round((product.price - product.discount_price) * 100 / product.price, 0);
                                                            <div class="sale-label sale-top-right">
                                                                <span>-@price_percent%</span>
                                                            </div>
                                                        }
                                                        <div class="item-inner">
                                                            <div class="item-img">
                                                                @if ((DateTime.Now - product.date_added).TotalDays <= 7)
                                                                {
                                                                    <div class="new-label new-top-left">New</div>
                                                                }
                                                                <div class="item-img-info">
                                                                    <a href="~/chi-tiet/@product.product_code" title="@product.name" class="product-image"> <img src="~/products-images/@product.product_code/@product.image" alt="@product.name"> </a>
                                                                    <div class="item-box-hover">
                                                                        <div class="box-inner">
                                                                            <div class="product-detail-bnt"><a href="~/chi-tiet/@product.product_code" class="button detail-bnt"><span>Chi tiết</span></a></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="item-info">
                                                                <div class="info-inner">
                                                                    <div class="item-title"> <a href="~/chi-tiet/@product.product_code" title="@product.name"> @product.name </a> </div>
                                                                    <div class="item-content">
                                                                        <div class="rating">
                                                                            <div class="ratings">
                                                                                <div class="rating-box">
                                                                                    <div class="rating" style="width:@product.rating%"></div>
                                                                                </div>
                                                                                <p class="rating-links"> <a href="#">@product.view đánh giá</a> <span class="separator">|</span> <a href="#">Thêm đánh giá</a> </p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item-price">
                                                                            <div class="price-box">
                                                                                @if (product.discount_price < @product.price)
                                                                                {
                                                                                    <p class="special-price"> <span class="price" id="product-price-2"> @String.Format("{0:n0}", product.discount_price) VNĐ </span> </p>
                                                                                    <p class="old-price"> <span class="price" id="old-price-2"> @String.Format("{0:n0}", product.price) VNĐ </span> </p>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <p class="special-price"> <span class="price" id="product-price-2"> @String.Format("{0:n0}", product.price) VNĐ </span> </p>
                                                                                }
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="actions">
                                                                    <span class="add-to-links">
                                                                        <a href="wishlist.html" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a>
                                                                        <button type="button" title="Add to Cart" class="button btn-cart" onclick="AddToCart('@product.product_code')"><span>Thêm vào giỏ</span></button>
                                                                        <a href="compare.html" class="link-compare" title="Add to Compare"><span>Add to Compare</span></a>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            <!-- End Item -->
                                            }
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- related Product Slider End -->
                        </div>
                    </div>
                </div>
                <div class="box-collateral box-reviews" id="customer-reviews">
                    <div class="page-title">
                        <h2>Đánh giá</h2>
                    </div>
                    <div class="box-reviews1">
                        <div class="form-add">
                            <form id="review-form" method="post" action="http://www.magikcommerce.com/review/product/post/id/176/">
                                <h3>Hãy chia sẻ đánh giá của bạn.</h3>
                                <fieldset>
                                    <h4>Bạn đánh giá sản phẩm này như thế nào? <em class="required">*</em></h4>
                                    <span id="input-message-box"></span>
                                    <table id="product-review-table" class="data-table">
                                        <colgroup>
                                            <col>
                                            <col>
                                            <col>
                                            <col>
                                            <col>
                                            <col>
                                        </colgroup>
                                        <thead>
                                            <tr class="first last">
                                                <th>&nbsp;</th>
                                                <th><span class="nobr">1 *</span></th>
                                                <th><span class="nobr">2 *</span></th>
                                                <th><span class="nobr">3 *</span></th>
                                                <th><span class="nobr">4 *</span></th>
                                                <th><span class="nobr">5 *</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="first odd">
                                                <th>Giá</th>
                                                <td class="value"><input type="radio" class="radio" value="11" id="Price_1" name="ratings[3]"></td>
                                                <td class="value"><input type="radio" class="radio" value="12" id="Price_2" name="ratings[3]"></td>
                                                <td class="value"><input type="radio" class="radio" value="13" id="Price_3" name="ratings[3]"></td>
                                                <td class="value"><input type="radio" class="radio" value="14" id="Price_4" name="ratings[3]"></td>
                                                <td class="value last"><input type="radio" class="radio" value="15" id="Price_5" name="ratings[3]"></td>
                                            </tr>
                                            <tr class="even">
                                                <th>Kiểu dáng</th>
                                                <td class="value"><input type="radio" class="radio" value="6" id="Value_1" name="ratings[2]"></td>
                                                <td class="value"><input type="radio" class="radio" value="7" id="Value_2" name="ratings[2]"></td>
                                                <td class="value"><input type="radio" class="radio" value="8" id="Value_3" name="ratings[2]"></td>
                                                <td class="value"><input type="radio" class="radio" value="9" id="Value_4" name="ratings[2]"></td>
                                                <td class="value last"><input type="radio" class="radio" value="10" id="Value_5" name="ratings[2]"></td>
                                            </tr>
                                            <tr class="last odd">
                                                <th>Dịch vụ</th>
                                                <td class="value"><input type="radio" class="radio" value="1" id="Quality_1" name="ratings[1]"></td>
                                                <td class="value"><input type="radio" class="radio" value="2" id="Quality_2" name="ratings[1]"></td>
                                                <td class="value"><input type="radio" class="radio" value="3" id="Quality_3" name="ratings[1]"></td>
                                                <td class="value"><input type="radio" class="radio" value="4" id="Quality_4" name="ratings[1]"></td>
                                                <td class="value last"><input type="radio" class="radio" value="5" id="Quality_5" name="ratings[1]"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <input type="hidden" value="" class="validate-rating" name="validate_rating">
                                    <div class="review1">
                                        <ul class="form-list">
                                            <li>
                                                <label class="required" for="nickname_field">Tên hiển thị<em>*</em></label>
                                                <div class="input-box">
                                                    <input type="text" class="input-text required-entry" id="nickname_field" name="nickname">
                                                </div>
                                            </li>
                                            <li>
                                                <label class="required" for="summary_field">Tiêu đề<em>*</em></label>
                                                <div class="input-box">
                                                    <input type="text" class="input-text required-entry" id="summary_field" name="title">
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="review2">
                                        <ul>
                                            <li>
                                                <label class="label-wide" for="review_field">Đánh giá<em class="required">*</em></label>
                                                <div class="input-box">
                                                    <textarea class="required-entry" rows="3" cols="5" id="review_field" name="detail"></textarea>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="buttons-set">
                                            <button class="button submit" title="Submit Review" type="submit"><span>Gửi đánh giá</span></button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="box-reviews2">
                        <h3>Đánh giá của người dùng</h3>
                        <div class="box visible">
                            <ul>
                                <li>
                                    <table class="ratings-table">
                                        <colgroup>
                                            <col>
                                            <col>
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th>Dịch vụ</th>
                                                <td>
                                                    <div class="rating-box">
                                                        <div class="rating" style="width:90%;"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Kiểu dáng</th>
                                                <td>
                                                    <div class="rating-box">
                                                        <div class="rating" style="width:80%;"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Giá</th>
                                                <td>
                                                    <div class="rating-box">
                                                        <div class="rating" style="width:70%;"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="review">
                                        <h6><a href="#/catalog/product/view/id/61/">Tốt</a></h6>
                                        <small>đánh giá bởi <span>Người qua đường </span>vào 1/3/2014 </small>
                                        <div class="review-txt"> Sản phẩm tốt, giá ổn, dịch vụ tốt, giao hàng nhanh. Nói chung là tốt.</div>
                                    </div>
                                </li>
                                <li>
                                    <table class="ratings-table">
                                        <colgroup>
                                            <col>
                                            <col>
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th>Dịch vụ</th>
                                                <td>
                                                    <div class="rating-box">
                                                        <div class="rating" style="width:90%;"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Kiểu dáng</th>
                                                <td>
                                                    <div class="rating-box">
                                                        <div class="rating" style="width:80%;"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Giá</th>
                                                <td>
                                                    <div class="rating-box">
                                                        <div class="rating" style="width:70%;"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="review">
                                        <h6><a href="#/catalog/product/view/id/61/">Tốt</a></h6>
                                        <small>đánh giá bởi <span>Người qua đường </span>vào 1/3/2014 </small>
                                        <div class="review-txt"> Sản phẩm tốt, giá ổn, dịch vụ tốt, giao hàng nhanh. Nói chung là tốt.</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="actions"> <a class="button view-all" id="revies-button"><span><span>View all</span></span></a> </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Two columns content -->
@section scripts_detail{
    <script type="text/javascript" src="~/Scripts/toggle.js"></script>
    <script type="text/javascript" src="~/Scripts/pro-img-slider.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.flexslider.js"></script>
    <script type="text/javascript" src="~/Scripts/cloud-zoom.js"></script>
}

@section styles_detail{
    <link href="~/Content/fancybox.css" rel="stylesheet" />
    <link href="~/Content/flexslider.css" rel="stylesheet" />
}